@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body{  
    
    background: #5372F0;
}
.heading{
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.main{
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container{
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
    margin-bottom: 20px;
}
.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}
.wrapper .text-input{
    display: flex;
    flex-direction: column;
}
.text-input .to-text{
    border-radius: 0px;
   
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
    padding: 10px 15px;
}
.controls, li, .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{ 
    padding: 12px 15px;  
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}
.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #bbb;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
}
.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #5372F0;
}
.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-icons ul {
    
    display: flex;
}
.social-media-icons ul li{
   padding: 23px;
}
.social-media-icons ul li a{
    color: #fff;
    font-size: 20px
}
.error-message{
    background: red;
    color: #fff;
    width: 690px;
    padding: 10px 0 10px 50px ;
    font-size: 18px;
    margin: 0 auto;
    display: none;
    border-radius: 3px;
    font-weight: 500;
}

/**media queries for mobile **/
@media(min-width: 320px) and (max-width: 840px){
    .heading{
        font-size: 24px;
        margin-top: 30px;
    }
    .main{
        margin-top: 40px;
    }
    .error-message{
        width: 340px;
        font-size: 16px;
    }
    .container{
        width: 340px;
        padding: 15px;
    }
    .container button{
        font-size: 14px;
    }
    .text-input textarea{
        font-size: 15px;
    }
    .wrapper .text-input{
        flex-direction: column;
    }
    .controls {
        padding: 10px 10px;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }
    .controls .row select {
      width: 84px;
      font-size: 12px;
    }
    .controls .exchange {
      font-size: 13px;
    }
    .controls .icons i{
      width: 25px;
      font-size: 12px;
    }
    .controls .row select {
        width: 84px;
        font-size: 12px;
    }
    .text-input .to-text {
        border: none;
    }
    .controls .row.from .icons {
    padding-right: 5px;
}
}
@media(min-width: 540px) and (max-width: 840px){
 .container{
    width: 520px;
 }
 .error-message{
    width: 520px;
    font-size: 16px;
}
}